
<div id="appName">This Is Egypt !</div>
<div>
<div id="aim">
    Aim:
</div>
<p>
Visitors to Egypt are drawn to witness the logic-defying feats of engineering that are the Pyramids of Giza, to see colossal temples and tombs that offer up the secrets of the Pharaohs (Egypt’s kings and queens) and the gods they worshipped.

To visit the ancient wonders of Egypt is to follow a path carved out through millennia by the Greeks, Romans, Medieval pilgrims, Egyptologists and, now, travelers. But beyond the astonishing antiquities, it’s a magical country that swirls with myth, legend and mysticism.
</p>
</div>
<br>
<div>
<img [src]="myImage"></div>
<app-footer></app-footer>
